<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="spring.project.mappers.adminMapper">

	<select id="getListCount" resultType="int">
		SELECT COUNT(*) FROM
		${tableName}

	</select>

	<select id="genreList" resultType="spring.project.admin.dto.GenreDTO">
	<![CDATA[
	SELECT * FROM (SELECT ROWNUM gnum,gen_no,name,reg_date 
	FROM (SELECT * FROM genre ORDER BY gen_no ASC))
	WHERE gnum>=#{startrow} AND gnum<=#{endrow}
	]]>
	</select>

	<select id="actorList" resultType="spring.project.admin.dto.ActorDTO">
	<![CDATA[
	SELECT * FROM (SELECT ROWNUM anum,act_no,name,img,reg_date
	FROM (SELECT * FROM actor ORDER BY act_no ASC))
	WHERE anum>=#{startrow} AND anum<=#{endrow}
	
	]]>
	</select>

	<select id="directorList" resultType="spring.project.admin.dto.DirectorDTO">
	<![CDATA[
	SELECT * FROM (SELECT ROWNUM dnum,dir_no,name,img,reg_date
	FROM (SELECT * FROM director ORDER BY dir_no ASC))
	WHERE dnum>=#{startrow} AND dnum<=#{endrow}
	]]>
	</select>

	<select id="movieInfoList" resultType="spring.project.admin.dto.AdMovieDTO">
	<![CDATA[
	SELECT * FROM (SELECT ROWNUM mnum,mov_no,title,trailer,poster,release,rtime,grade,attd,summary,reg_date, mod_date, country 
	 FROM (SELECT * FROM movie_info ORDER BY mov_no ASC))
	WHERE mnum>=#{startrow} AND mnum<=#{endrow}
	]]>
	</select>


	<delete id="genreDelete">
		<![CDATA[
			DELETE GENRE WHERE gen_no = #{delNum}
		]]>

	</delete>

	<delete id="actorDelete">
		<![CDATA[
			DELETE ACTOR WHERE act_no = #{delNum}
		]]>
	</delete>
	<delete id="directorDelete">
		<![CDATA[
			DELETE DIRECTOR WHERE dir_no = #{delNum}
		]]>

	</delete>

	<insert id="directorInsert">
	<![CDATA[
	INSERT INTO director VALUES(dir_no_seq.NEXTVAL,#{name},#{img},sysdate)
	]]>

	</insert>


	<insert id="actorInsert">
	<![CDATA[
	INSERT INTO actor VALUES(act_no_seq.NEXTVAL,#{name},#{img},sysdate)
	]]>

	</insert>

	<insert id="genreInsert">
	<![CDATA[
	INSERT INTO genre VALUES(gen_no_seq.NEXTVAL,#{name},sysdate)
	]]>

	</insert>

	<insert id="movie_infoInsert">
	<![CDATA[
	INSERT INTO movie_info VALUES(movie_num_seq.NEXTVAL, #{title}, #{trailer}, #{poster}, #{release}, #{rtime}, #{grade}, #{attd}, #{summary},sysdate,sysdate,#{country})
	]]>

	</insert>

	<select id="getAllGenre" resultType="spring.project.admin.dto.GenreDTO">
		SELECT * FROM genre

	</select>

	<select id="getAllDirector" resultType="spring.project.admin.dto.DirectorDTO">
		SELECT * FROM director

	</select>

	<select id="getAllActor" resultType="spring.project.admin.dto.ActorDTO">
		SELECT * FROM actor

	</select>


	<select id="recentMovNum" resultType="int">
		SELECT mov_no FROM MOVIE_INFO m1 WHERE m1.mov_no=(SELECT MAX(mov_no) from
		MOVIE_INFO m2)
	</select>

	
	<insert id="relInsert">
		INSERT INTO ${tableName} VALUES(#{movieNum}, #{splitData})
	</insert>

</mapper>
